<form #meuForm="ngForm" (submit)="cadastrar(meuForm)">
  <div class="p-inputgroup">
    <!-- span.p-inputgroup-addon -->
    <span class="p-inputgroup-addon">
      <!-- i.pi.pi-user -->
      <i class="pi pi-user"></i>
    </span>
    <input ngModel type="text" pInputText placeholder="Nome" class="w-full block text-center" name="nome">
  </div>

  <div class="p-inputgroup mt-2">
    <!-- span.p-inputgroup-addon -->
    <span class="p-inputgroup-addon">
      <!-- i.pi.pi-user -->
      <i class="pi pi-info"></i>
    </span>
    <input name="idade" ngModel type="text" pInputText placeholder="Idade" class="w-full block text-center">
  </div>

  <div class="p-inputgroup mt-2">
    <!-- span.p-inputgroup-addon -->
    <span class="p-inputgroup-addon">
      <!-- i.pi.pi-user -->
      <i class="pi pi-heart"></i>
    </span>
    <input name="hobby" ngModel type="text" pInputText placeholder="Hobby" class="w-full block text-center">
  </div>

  <button class="mt-2 w-full" pButton label="OK"></button>
</form>
